{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- Preloader -->
    <div id="preloader">
        <i class="circle-preloader"></i>
        <img src="img/core-img/hamburger.png" alt="">
    </div>

    {% include 'partials/_search.html' %}
    {% include 'partials/_menu.html' %}
    {% include 'partials/_alerts.html' %}

    <!-- Recipe Post Search -->
    <div class="receipe-post-search mb-80">
        <div class="container">
            <form action="#" method="post">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <select name="select1" id="select1">
                            <option value="1">Brazilian food</option>
                            <option value="2">Italian food</option>
                            <option value="3">Vegans</option>
                        </select>
                    </div>
                    <div class="col-12 col-lg-2 text-right">
                        <button type="submit" class="btn delicious-btn">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Recipe Slider -->
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="receipe-slider owl-carousel">
                    {% if recipe.photo == '' %}
                        <img src="{% static 'img/bg-img/tomato_banner.jpg' %}">
                    {% else %}
                        <img src="{{ recipe.photo.url }}">
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Recipe Content Area -->
    <div class="receipe-content-area">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8">
                    <div class="receipe-headline my-5">
                        <span>{{ recipe.date_recipe }}</span>
                        <h2>{{ recipe.name }}</h2>
                        <div class="receipe-duration">
                            <h6>Time: {{ recipe.preparation_time }}</h6>
                            <h6>Serving: {{ recipe.serving }}</h6>
                            <h6>Category: {{ recipe.category }}</h6>
                            <h6>By: {{ recipe.person }}</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-8">
                    <!-- Single Preparation Step -->
                    <div class="single-preparation-step d-flex">
                        <p>{{ recipe.preparation }}</p>
                    </div>
                </div>

                <!-- Ingredients -->
                <div class="col-12 col-lg-4">
                    <div class="ingredients">
                        <h4>Ingredients</h4>
                        <div class="ingredients">
                            <p>{{ recipe.ingredients }}</p>
                        </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Ingredients -->
        </div>
    </div>

    {% include 'partials/_footer.html' %}
{% endblock %}
